.shadow_card{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 6px;
}

.toggle-checkbox {
    display: none;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: background-color 0.4s;
}

.toggle-checkbox:checked + .toggle-slider {
    background-color: #2196F3;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.toggle-checkbox:checked + .toggle-slider:before {
    transform: translateX(30px);
}
